<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>start</title>
</head>
<body>
    <h1 class="text-monospace">Добро пожаловать!</h1>
    <img src="{{ url_for('static', filename='image/marusya.jpg') }}" alt="My photo" width="300">
    <div class="container">
        <form action="/form" method="post">
            <input type="text" name="name" placeholder="Имя">
            <input type="submit" value="Отправить">
        </form>
    </div>
    <p class="alert-dark">Все права защищены &copy;</p>
</body>
</html>